$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$lightGrey: #f2f2f2;
$darkGrey: darkgray;
$text-font-family: "Roboto";
$title-font-family: "Shrikhand";
$neutral100: #ffffff;
$neutral150: #f9f9f9;
$neutral200: #f4f4f4;
$neutral250: #e5e5e5;
$neutral300: #dddddd;
$neutral350: #d1d1d1;
$neutral400: #b6b6b6;
$neutral500: #828282;
$neutral550: #666666;
$neutral600: #4d4d4d;

$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mobile: 768px;
